<a href="https://colab.research.google.com/github/dilrubashowkat/MLearn/blob/master/Untitled3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!kaggle datasets download -d spscientist/students-performance-in-exams

Downloading students-performance-in-exams.zip to /content
  0% 0.00/7.95k [00:00<?, ?B/s]
100% 7.95k/7.95k [00:00<00:00, 3.20MB/s]

In [2]:
!unzip students-performance-in-exams.zip

Archive:  students-performance-in-exams.zip
  inflating: StudentsPerformance.csv

In [4]:
# Importing modules
from matplotlib import pyplot as plt
import numpy as np
import pandas as pd
import os, random, cv2
#matplotlib inline
# Let's check the labels
bf= pd.read_csv("StudentsPerformance.csv")
bf.head()
bf.describe()

       math score  reading score  writing score
count  1000.00000    1000.000000    1000.000000
mean     66.08900      69.169000      68.054000
std      15.16308      14.600192      15.195657
min       0.00000      17.000000      10.000000
25%      57.00000      59.000000      57.750000
50%      66.00000      70.000000      69.000000
75%      77.00000      79.000000      79.000000
max     100.00000     100.000000     100.000000

In [0]:
from sklearn.metrics import matthews_corrcoef
gen=bf["Gender"].sample(20)
pur = bf["Purchase"]
age = bf["Age"]
print(gen)
#matthews_corrcoef(age, pur)